.with-registerdiv
{
    padding-top:5px ;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right:0px;
    vertical-align:center;
    margin : 0 auto;
    width:90%;
    height:90%;

 
 }
 .closeicon
{
    text-align: right;
    color: gray;
    font-size: 16px;
    position: relative;
    float: right
}
.closeicon:hover
{
    color:#008B8B;
    cursor: pointer;
}

.signin
{
    height:30px;
}

.with-primarybutton
{
    flex: 1 1 auto;
    background-color:#008B8B;
    color:#ffff;
    margin-left:10px;
    
}


.link:hover
{
    cursor: pointer;
}

.with-panelbodydiv
{
    width:100%;
    border:1px;
    margin:0 auto;
    
}
.with-panelform
{
    width:100%;
    
}
.mat-input-element
{
    color:teal;
    font-size: 14px;
    
}

.mat-icon-1
{
    color:teal;
    font-size:22px;
}


.divider
{
    padding-top:5px;
    padding-bottom: 5px;
    color:teal;
}

.txt-header
{
    text-align: center;
    font-size:16px;
    color:teal;
    font-family: Arial, Helvetica, sans-serif;
    padding:25px;
    font-weight: bold;
}